*{
    margin: 0;
    padding: 0;
    font-size: 3.0rem;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Times New Roman', Times, serif
}

main{
    padding-top: 7.0rem;
}

table, td, th {
    border: 1px solid rgb(35, 31, 31);
}

table tr:first-child {
    background-color: steelblue;
    color: #fff;
}

table tr:nth-child(2n+3){
    background-color: #999898;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", Arial, sans-serif;
}

h1{
    color: maroon;
    font-size: 4.2rem;
    font-weight: 900;
    font-style: oblique;
    text-decoration: underline;
    Text-transform: capitalize;
} 

h2 {
    font-size: 3.2rem;
}

a {
    font-size: 3.0rem;
    color:darkred;
}

a:visited{
    color: White;
}

a:hover{
    color:coral;
}
p {
    font-size: 3.0rem;
    text-align: justify;
    text-indent: 20px;
}

.bg {
    height: 300px;
    width: 100%;
    background-color: #555;
    background-image: url('https://images.unsplash.com/photo-1682687219573-3fd75f982217?q=80&w=1375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul, ol {
    padding-left: 3.5rem;
}

ul {
    list-style: square;
}

ol{
    list-style: upper-roman;
}

.box {
    height: 10rem;
    width: 10rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
    border: 1.5rem solid red;
    display: inline-block;
    border-radius: 1.5rem;
}

img {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
}

nav.menu{
    position: fixed;
    width: 100%;
    background-color: orange;
    height: 7.0rem;
}